{%extends 'base/main.html'%}

{%block title%}
    {{data.title}}
{%endblock%}

{%block content%}
    <div class="entry">
        <h1>Войти</h1>
        <br>
        <form method="post">
            <h4>Логин: </h4>
            <input type="text" placeholder="Login">
            <h4>Пароль: </h4>
            <input type="password" placeholder="Password">
            <p><button type="submit">Войти</button></p>
        </form>
        Нет аккаунта?
        <a href="{{url_for('register')}}">Зарегестрируйтесь</a>
    </div>
{%endblock%}