body {
    background: lightblue;
    width: 100%;
}

header {
    border: solid 4px green;
    width: 100%;
}

footer {
    border: solid 4px blue;
    width: 100%;
}

aside {
    border: solid 4px purple;
    width: 20%;
}

.conteiner {
    display: flex;
    border: solid 4px red;
    margin: auto;
    width: 80%;
}

.content {
    border: solid 4px yellow;
    width: 80%;
}