@import url("colors.css");

body {
    background: var(--b1);
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
}

aside {
    width: 20%;
}

.conteiner {
    display: flex;
    margin: auto;
    width: 80%;
}

.content {
    width: 80%;
}

.entry {
    display:block;
    text-align: center;
    margin-top: 10vh;
    line-height: 0.1vh;
}

.book {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}